.inner > div:nth-of-type(2) {
  width: 29px !important;
}
#tabs-tabbar-container:not(:hover) {
  width: 0 !important;
  position: relative;
  height: 100%;
  z-index: 99999999;
  left: 0;
}

#tabs-tabbar-container.left:hover {
  position: relative;
  left: 0;
  z-index: 9999999;
  color: var(--colorFg) !important;
  background-color: var(--colorBg);
  height: 100%;
  transition-property: width;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  transition-timing-function: ease-in;
}

#tabs-container.left {
  position: relative;
  background-color: var(--colorBg);
}
